#scotch-top  {
  background: #222;
  min-height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;

  > div, > nav {
    flex: 0;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .search-bar {
    flex: 1;
  }

  ul  {
    list-style: none;
    margin: 0;
    padding: 0;

    li  {
      display: inline-block;
    }

    a   {      
      text-decoration: none;
      color: #CCC;
      font-size: 15px;
      display: block;
      padding: 20px 10px; 
      letter-spacing: 0.8px;
      transition: 0.3s ease color;

      &:hover {
        color: #FFF;
      }
    }
  }

  // LOGO ====================================
  .scotch-top-logo {
    flex: 0 0 80px;

    a {
      color: #CCC;
      background: #232323;
      display: block;
      width: 80px;
      height: 80px;
      padding: 12px 12px 6px;
      line-height: 1;
      text-decoration: none;
      transition: 0.3s ease color;

      &:hover {
        color: #FFF;
      }

      svg {
        max-width: 100%;
        max-height: 65%;
        margin-bottom: 2px;        
      }

      .text {
        text-align: center;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.5px;
      }
    }
  }

  // MAIN NAV ===================================
  .main-nav   {
    ul    {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li  {
      display: inline-block;      
    }
  }

  // SEARCH ======================================
  .search-bar     {
    $search-bar-background: #444;

    margin-left: 30px;
    margin-right: 30px;

    .search-form  {
      position: relative;
      display: flex;
      align-items: center;

      .search-icon  {  
        position: absolute;

        svg         {
          fill: rgba(255, 255, 255, 0.75);
          margin-top: 10px;
          margin-left: 15px;
          height: 24px;
          width: 24px;
          transition: 0.3s ease fill;
        }
      }

      input[type=search]  {
        border: 0;
        width: 100%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: $search-bar-background;
        border-radius: 3px;
        padding: 18px 0 18px 50px;        
        outline: none;
        font-size: 15px;
        color: #EEE;
        transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;

        &:hover   {
          background: lighten($search-bar-background, 5%);
        }

        &:focus   {
          background: #FFF;
          width: 90%;
          color: $search-bar-background;
        }
        &:focus ~ .search-icon svg {
          fill: $search-bar-background;
        }
        
      }
    }
  }

  // USER NAV ====================================
  .user-nav   {
    text-align: right;
  }

} 
