$dark-color: #222;

// SOCIAL COLORS ==================
$social-colors: (
  'twitter': #1DA1F2,
  'facebook': #3B5998
);

@each $name, $color in $social-colors {
  .color-#{$name} {
    color: $color;
    transition: 0.3s ease all;

    &:hover   {
      background: lighten($color, 10%);
    }
  }

  .background-#{$name} {
    background: $color;
    color: #FFF;
    transition: 0.3s ease all;

    &:hover   {
      background: lighten($color, 10%);
    }
  }
}