$font-family-text: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-display: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-stylish: 'Crete Round', serif;
$font-family-code: 'Droid Sans Mono', Consolas, monospace;
$font-size: 18px;

$text-color: #444;
$header-text-color: #222;

html {
  font-size: $font-size;

  @media screen and (max-width: 992px) {
    @include font-size(16px);
  }
}

body {
  font-family: $font-family-text;
  line-height: 1.6; 
  color: $text-color;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  @include font-size($font-size);  
}

h1, h2, h3, h4, h5, h6 {
  color: $header-text-color;
  font-family: $font-family-display;
}