.center-flex   {
  display: flex; 
  justify-content: center;
  align-content: center;
}
.center-flex-h {
  display: flex;
  justify-content: center;
}
.center-flex-v {
  display: flex;
  align-items: center;
}
