$article-padding: 50px;
$sidebar-width: 300px;

/** 
 * Single article styles
 */
.article--single {
  .article__header    {
    position: relative;
    text-align: center;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/topography.png');
    // background: #FDCC18;
    padding-top: 30px;
    
    h1          {
      @include font-size(50px);
      
      line-height: 1.4;
      margin: 0 0 20px;
      padding: 0;   
      position: relative;
    }
  } // .article__header  

  .article__image {
    position: relative;
    margin-top: 30px;

    img   {
      position: relative;
      z-index: 2;
      border-radius: 5px;
      height: auto;
      width: 100%;
      box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.25);
    }

    .author   {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #FFF;
    }

    .share-links  {
      position: absolute;
      font-size: 12px;
      top: 20px;
      right: 20px;
    }   
  } // .article__image

  .diagonal     {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    background: url('https://www.toptal.com/designers/subtlepatterns/patterns/topography.png');
    // background: #FDCC18;
    height: 300px;    
    transform: skewY(-5deg); 
    z-index: 1;
  }

  .actions {
    z-index: 2;
  }

  .article__inner {    
    position: relative;     
    min-height: 800px;
  } // .article__inner

  .sidebar {
    padding: $article-padding;
    padding-left: 0;
    width: ($sidebar-width + $article-padding);
    position: absolute;
    top: 0;
    bottom: 0;
    // background: #F9F9F9;
    border-right: 1px solid #DDD;
  }

  .article__content  {
    padding-bottom: $article-padding; 
    padding-top: $article-padding; 
    margin-left: ($sidebar-width + ($article-padding * 2)); 
  } // .article__content  

  @media screen and (max-width: 992px) {
    .article__inner  {
      padding: 50px 20px;
      display: block;
    }
    .sidebar  {
      flex: none;
      display: none;
    }
  }
}