.actions {
  text-align: center;
  background: lighten(#2C303B, 20%);
  padding: 40px 0;

  a       {
    display: inline-block;
    padding: 15px 40px;
    border-radius: 10px;
    border: 3px solid #FFF;
    color: #FFF;
    font-size: 22px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
} 