$article-padding: 100px;
$sidebar-width: 300px;

/** 
 * Single article styles
 */
.article--single {
  width: 1300px;
  max-width: 90vw;
  margin: 0 auto 100px;
  border-radius: 5px;      

  .article__header    {
    text-align: center;
    padding: 30px 20px;
    
    h1          {
      font-size: 70px;
      line-height: 1.4;
      margin: 0 0 20px;
      padding: 0;  
      mix-blend-mode: multiply;     
      position: relative;
    }
  } // .article__header  

  .article__image {
    display: flex;

    img   {
      position: relative;
      z-index: 2;
      height: auto;
      width: 100%;
    }
  } // .article__image

  .article__inner {
    background: $content-background;
    padding: $article-padding; 
    position: relative; 
    display: flex; 
  } // .article__inner

  .article__body  {
    
  } // .article__body

  .sidebar {
    padding-right: ($article-padding / 2);
    margin-right: ($article-padding / 2);
    flex: 0 0 ($sidebar-width + ($article-padding / 2));
  }

  @media screen and (max-width: 992px) {
    .article__inner  {
      padding: 50px 20px;
      display: block;
    }
    .sidebar  {
      flex: none;
      display: none;
    }
  }
}