.actions {
  text-align: center;
  background: #2F2F2F;
  padding: 40px 0;

  a       {
    @include font-size(18px);

    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    border: 3px solid rgba(#FFF, 0.7);
    color: #FFF;
    margin-right: 15px;
    text-decoration: none;
    transition: 0.3s ease border,
                0.3s ease color;

    &:hover {
      color: #FFF;
      border-color: #FFF;
    }

    &:last-child {
      margin-right: 0;
    }
  }
} 